.Title {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(73, 43, 39);
    color: #fff;
  }

.Title-Subtitle {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    color: #fff;
  }